body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}
.weather-app {
  background: white;
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  height: 88px;
  width: 88px;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
