body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}
.weather-app {
  background: white;
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  margin-left: 5px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
